 
   body {
        font-family: sans-serif;
        color: #333;
        text-align: center;
   }
   #container {
       width: 400px;
       margin: auto;
   }
   h1 { 
    font-size: 5em; 
  }
   p#error{
      color:red;
      font-style: italic;
      font-size: 2em;
  }
  .ten-or-less{
    color:red;
  }
  #controls{
    text-align: center;
    margin:auto;
  }
  .twenty-or-less{
    color:orange;
  }
  .btn-primary{
    margin: 1em;
  }
  .thirty-or-less{
    color:purple;
  }
  .forty-or-less{
    color:#286090;
  }
  .emergency {
 -webkit-animation: cc 1s linear 1s infinite alternate;
 animation: cc 1s linear 1s infinite alternate;
 color: #f00;
  }
.paused{
   -webkit-animation: pp 1s linear 1s infinite alternate;
 animation: pp 1s linear 1s infinite alternate;
 color: #000;
}
#pause{
  margin:auto;
  text-align: center;
}

@-webkit-keyframes cc{
 0%   { color: #fff;}  
 50%  { color: #f00;}
 100% { color: #f00;}
}

@keyframes cc{
 0%   { color: #fff;}
 50%  { color: #f00;}
 100% { color: #f00;}
}
@-webkit-keyframes pp{
 0%   { color: #fff;}  
 50%  { color: #000;}
 100% { color: #fff;}
}

@keyframes pp{
 0%   { color: #fff;}
 50%  { color: #000;}
 100% { color: #fff;}
}